.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left {
    width: 220px;
    height: 100%;
    border-right: 1px solid #e0e0e0;
    padding: 20px 20px;
    background: var(--bg);
}

.right {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-white);
    text-decoration: none;
    margin-bottom: 24px;
}

.info {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-white);
    padding: 10px auto;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab {
    padding: 10px 14px;
    border-radius: 6px;
    color: var(--text-white);
    text-decoration: none;
    font-weight: 500;
}

.tab:hover {
    color: var(--text-black);
    background: var(--active-color);
}