.container {
    padding: 32px 40px;
    width: 100%;
}

.header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: var(--text-white);
}

.subtitle {
    margin-top: 4px;
    font-size: 24px;
    color: var(--text-white);
}

.inputWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: row;
    padding: 12px;
}

.general {
    width: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 8px;
}

.inputTitle {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-white);
    padding-left: 8px;
    padding-bottom: 16px;
}

.radioGroupWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-bottom: 12px;
}

.radioTitle {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-white);
    padding-bottom: 16px;
}

.radioGroup {
    display: flex;
    align-items: center;
    gap: 24px;
}

.radioGroup label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    color: var(--text-white);
}

.radioGroup input {
    width: 25px;
    height: 25px;
}

.buttonWrapper {
    margin-left: 64px;
}

.radioGroup input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background: transparent;
    transition: 0.2s ease;
}

.radioGroup input[type="radio"]:checked {
    border-color: var(--active-color);
    background-color: var(--active-color);
}

.radioGroup label {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-white);
    cursor: pointer;
    font-size: 16px;
}