.container {
    padding: 32px 40px;
    width: 100%;
}

.header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: var(--text-white);
}

.subtitle {
    margin-top: 4px;
    font-size: 24px;
    color: var(--text-white);
}

.inputWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: row;
    padding: 12px;
}

.general {
    width: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 8px;
}

.inputTitle {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-white);
    padding-left: 8px;
    padding-bottom: 16px;
}