.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subActions {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.subActions a {
    text-decoration: none;
    color: var(--bg);
    font-size: 14px;
}