:root {
    --bg: white;
    --bg-image: url("/tw_background.jpg");

    --text-white: white;
    --text-black: black;
    --normal-font-size: 24px;

    --primary: #4b7bec;
    --secondary: #778ca3;
    --danger: #eb3b5a;
    --success: #20bf6b;

    --border: white;
    --radius: 16px;

    --auth-card: rgba(22, 34, 48, 0.5);
    --auth-border: 5px solid white;
}