:root {
    --bg: #222831;
    --bg-image: url("/tw_background.jpg");

    --text-white: #EEEEEE;
    --text-black: #222831;
    --normal-font-size: 24px;

    --primary: #4b7bec;
    --secondary: #778ca3;
    --danger: #eb3b5a;
    --success: #20bf6b;

    --border-color: #EEEEEE;
    --radius: 16px;

    --auth-card: rgba(22, 34, 48, 0.5);
    --auth-border: 5px solid white;

    --active-color: #FFD369;
}