.layout {
    background-image: var(--bg-image);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.header {
    height: 60px;
    border-bottom: 1px solid #eaeaea;
    display: grid;
    align-items: center;
    padding: 0 24px;
    grid-template-columns: 1fr auto 1fr;
    background: none;
    position: sticky;
    top: 0;
    z-index: 10;
}

.left .logo {
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-white);
}

.centerNav a {
    margin: 0 16px;
    text-decoration: none;
    font-size: 36px;
    font-weight: 500;
    color: var(--text-white);
    text-align: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.right .loginBtn {
    height: 45px;
    padding: 6px 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    text-decoration: none;
    font-size: 20px;
    color: var(--text-white);
}

.right .user {
    color: var(--text-white);
    font-weight: 600;
    margin-right: 16px;
}

.right .logoutBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--primary);
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 16px;
}