.sidebar {
    width: 220px;
    background: var(--bg);
    border-right: 3px solid var(--border-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 24px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    text-decoration: none;
    color: var(--text-white);
    padding: 10px;
    border-radius: 6px;
    transition: 0.15s ease;
}

.item:hover {
    background: var(--active-color);
    color: var(--text-black);
}

.item.active {
    background: #0070f3;
    color: #fff;
}