.title {
    color: var(--text-white);
    margin-bottom: 20px;
}

.subTitle {
    margin-top: 24px;
    margin-bottom: 12px;
    color: var(--text-white);
}

/* 이 파일 전용 테이블 스코프 */
.listTable {
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.listTable table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.listTable th {
    background: var(--bg-white);
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--bg-white);
}

.listTable td {
    color: var(--text-white);
    padding: 10px;
    border-bottom: 1px solid var(--bg-white);
}

/* 오른쪽 아래 고정 Export 박스 */
.floatingExport {
    position: fixed;
    bottom: 30px;
    right: 30px;

    display: flex;
    align-items: center;
    gap: 12px;

    background: #fff;
    padding: 14px 18px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    z-index: 999;
}

.select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

.exportBtn {
    padding: 8px 16px;
    background: var(--text-black);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.exportBtn:disabled {
    background: #aaa;
    cursor: not-allowed;
}