.container {
    width: 60%;
    padding: 20px 0;
    margin: 0 auto;
}

.pageTitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--text-white);
}

.section {
    margin-top: 30px;
    background: var(--bg-gray);
    padding: 20px;
    border-radius: 12px;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-white);
}

.row {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.row button {
    width: 100px;
    height: 40px;
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

.tableWrapper {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

.table tbody td {
    color: var(--text-white);
}

.table tbody td:last-child {
    text-align: right;
}

.radioGroup {
    display: flex;
    gap: 30px;
    padding: 10px 0;
}

.buttonSection {
    margin-top: 40px;
    text-align: right;
}

.radioGroup input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background: transparent;
    transition: 0.2s ease;
}

.radioGroup input[type="radio"]:checked {
    border-color: var(--active-color);
    background-color: var(--active-color);
}

.radioGroup label {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-white);
    cursor: pointer;
    font-size: 16px;
}