.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.group input {
    padding: 10px;
    background: none;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
}